/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
body{
    width:100%;
}
header.masthead{
    /*background-image: url("../image/aaron-burden-211846.jpg");*/
    background-image: url("../image/josh-felise-ForWeb.jpg");
    padding: 0;
}
